.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.order-section-title{
    text-decoration: underline;
    margin-bottom: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 25px;
}